{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Iris Tumor Detector{% endblock %}

{% block content %}
    <!-- Landing Section -->
    <div class="bg-image">
        <section class="landing-section text-center py-5">
            <h1>Welcome to Iris Tumor Detection</h1>
            <p>Using advanced AI technology to aid in the early detection of iris tumors. Begin your diagnostic journey with us!</p>
            <img src="{% static '/images/eye.jpeg' %}" alt="">
            <a href="{% url 'upload_image' %}" class="btn btn-primary mt-3 button-started">Get Started</a>
        </section>

        <!-- Additional Content -->
        <div class="text-center mt-5 working">
            <h2>How It Works</h2>
            <p>Upload your image, and our advanced AI model will analyze it to detect potential iris tumors.</p>
        </div>
    </div>

    <!-- Inline CSS for Background Image -->
    <style>
        .working{
            color: whitesmoke;
        }
        .button-started{
            box-shadow: 5px;
        }
        .bg-img{
            background:  url("{% static '/images/line-particles.jpg' %}") ;
        }
    </style>
{% endblock %}
